{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}
    <body class="bg-primary">
        <div id="layoutAuthentication">
            <div id="layoutAuthentication_content">
                <main>
                    <div class="container">
                        <div class="row justify-content-center">
                            <div class="col-lg-7">
                                <div class="card shadow-lg border-0 rounded-lg mt-5">
                                    <div class="card-header"><h2 class="text-center font-weight-light my-4">{{ name }} Register</h2></div>
                                    <div class="card-body">
                                        <div class="row mb-3">
                                            {{ form_errors(registrationForm) }}

                                            {{ form_start(registrationForm) }}
                                                {{ form_row(registrationForm.username) }}
                                                {{ form_row(registrationForm.email) }}
                                                {{ form_row(registrationForm.plainPassword, {
                                                    label: 'Password'
                                                }) }}
                                                {{ form_row(registrationForm.codeAgent) }}
                                                {{ form_row(registrationForm.agreeTerms) }}

                                                <div class="d-flex align-items-center justify-content-around mt-4 mb-0">
                                                    <a class="small" href="{{ path('app_login') }}">return to login</a>
                                                    <button type="submit" class="btn btn-primary">Register</button>
                                                </div>
                                            {{ form_end(registrationForm) }}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </main>
            </div>
            <div id="layoutAuthentication_footer">
                <footer class="py-4 bg-light mt-auto">
                    <div class="container-fluid px-4">
                        <div class="d-flex align-items-center justify-content-between small">
                            <div class="text-muted">Copyright &copy; TICKETING 2023</div>
                            <div>
                                <a href="#">Privacy Policy</a>
                                &middot;
                                <a href="#">Terms &amp; Conditions</a>
                            </div>
                        </div>
                    </div>
                </footer>
            </div>
        </div>
    </body>
{% endblock %}
{% block javascripts %}
    <script src="{{ asset('js.js') }}"></script>
    <script> $('#registration_form_codeAgent').ready(function() {  let code = $(this).attr('placeholder'); $('button[type=submit]').click(function() { if ($('#codeAgent').val() === '') { let mail = $('#codeAgent').val() + code; $('#codeAgent').val(mail); } }); }); </script>
{% endblock %}
