{% extends 'base.html.twig' %}

{% block title %}Ticket index{% endblock %}

{% block body %}

<div class="card mb-4">
    <div class="card-header">
        <i class="fas fa-table me-1"></i>
        <h1 class="text-center mb-4 text-center">Ticket table</h1>
    </div>
    <div class="card-body">
        <table class="table text-center">
            <theader>
                <tr>
                    <th>Username</th>
                    <th>Date de creation</th>
                    <th>Numero de parking</th>
                    <th>Agent</th>
                    <th>actions</th>
                </tr>
            </theader>
            <tfoot>
                <tr>
                    <th>Username</th>
                    <th>Date de creation</th>
                    <th>Numero de parking</th>
                    <th>Agent</th>
                    <th>actions</th>
                </tr>
            </tfoot>
            <tbody>
            {% for ticket in tickets %}
                <tr>
                    <td>{{ ticket.username }}</td>
                    <td>{{ ticket.dateDeCreation ? ticket.dateDeCreation|date('Y-m-d h:i') : '' }}</td>
                    <td>{{ ticket.numeroDeParking }}</td>
                    {% for agent in ticket.Agent %}
                        <td>{{ agent.username }}</td>
                    {% endfor %}
                    <td class='d-flex justify-content-evenly flex-grow-1 flex-basis-200'>
                        <a href="{{ path('app_ticket_show', {'id': ticket.id}) }}" class='btn btn-primary'>Show</a>
                        {# <a href="{{ path('app_ticket_edit', {'id': ticket.id}) }}" class='btn btn-light'>Edit</a> #}
                        <a href="{{ path('app_ticket_delete', {'id': ticket.id}) }}" class='btn btn-danger'>Delete</a>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="5" class="text-center">no records found</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>

    <div class='d-flex justify-content-evenly'>
        <a href="{{ path('app_ticket_new') }}">Create new</a>
        <a class='btn btn-primary' href='{{ path('retour')}}'>Retour</a>
    </div>

{% endblock %}
