<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="shortcut icon" href="{{ asset('img/fav.ico') }}" type="image/x-icon">
	<title>Accueil</title>

	{% block stylesheets %}
	<link href="{{ asset('css/bootstrap.css') }}" rel="stylesheet" />
	<link href="https://fonts.googleapis.com/css?family=Poppins:400,600,700&display=swap" rel="stylesheet" />
	<link href="{{ asset('css/font-awesome.min.css') }}" rel="stylesheet" />
	<link href="{{ asset('css/style.css') }}" rel="stylesheet" />
	<link href="{{ asset('css/responsive.css') }}" rel="stylesheet" />
	{% endblock %}
</head>
{% block body %}
<div class="container">
	<div class="hero_area">
		<header class="header_section long_section px-0">
			<nav class="navbar navbar-expand-lg custom_nav-container ">
				<a class="navbar-brand" href="{{ path('app_landing') }}">
					<span> TICKETING </span>
				</a>
				<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
					aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
					<span class=""> </span>
				</button>
				<div class="collapse navbar-collapse" id="navbarSupportedContent">
					<div class="d-flex mx-auto flex-column flex-lg-row align-items-center">
						<ul class="navbar-nav  ">
							<li class="nav-item active">
								<a class="nav-link" href="#home">Home <span class="sr-only">(current)</span></a>
							</li>
							<li class="nav-item">
								<a class="nav-link" href="#about"> About</a>
							</li>
							<li class="nav-item">
								<a class="nav-link" href="#blog">Blog</a>
							</li>
						</ul>
					</div>
					<div class="quote_btn-container">
						<a href="{{ path('app_login') }}">
							<span> Login </span>
							<i class="fa fa-user" aria-hidden="true"></i>
						</a>
						<form class="form-inline">
							<button class="btn  my-2 my-sm-0 nav_search-btn" type="submit">
								<i class="fa fa-search" aria-hidden="true"></i>
							</button>
						</form>
					</div>
				</div>
			</nav>
		</header>
		<section id="home" class="slider_section long_section">
			<div id="customCarousel" class="carousel slide" data-ride="carousel">
				<div class="carousel-inner">
					<div class="carousel-item active">
						<div class="container ">
							<div class="row">
								<div class="col-md-5">
									<div class="detail-box">
										<h1>Ticket Express</h1>
										<p>Obtenez vos billets en un clin d'œil, sans tracas ! Ne perdez plus de temps à faire la queue ! Avec Ticket Express, notre application de billetterie révolutionnaire, vous pouvez acheter vos billets en quelques secondes seulement.</p>
										<div class="btn-box">
											<a href="{{ path('app_login') }}" class="btn1">Generer un ticket</a>
											<a href="#about" class="btn2">A propos de nous</a>
										</div>
									</div>
								</div>
								<div class="col-md-7">
									<div class="img-box">
										<img src="{{ asset('img/ticket_phone.png')}}" alt="ticket Phone" title="--- TICKETING ---">
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="carousel-item">
						<div class="container ">
							<div class="row">
								<div class="col-md-5">
									<div class="detail-box">
										<h1>Ticket Tracker</h1>
										<p>Suivez vos événements en temps réel, ne ratez rien ! Restez informé à tout moment avec Ticket Tracker !</p>
										<div class="btn-box">
											<a href="{{ path('app_login') }}" class="btn1">Generer un ticket</a>
											<a href="#about" class="btn2">A propos de nous</a>
										</div>
									</div>
								</div>
								<div class="col-md-7">
									<div class="img-box">
										<img src="{{ asset('img/ticket_phone2.png') }}" alt="ticket Phone" title="--- TICKETING ---">
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="carousel-item">
						<div class="container ">
							<div class="row">
								<div class="col-md-5">
									<div class="detail-box">
										<h1>Ticket Pro</h1>
										<p>Simplifiez votre expérience d'achat de billets, profitez pleinement ! Notre application vous offre une expérience de generation de billets simplifiée et sécurisée.</p>
										<div class="btn-box">
											<a href="{{ path('app_login') }}" class="btn1">Generer un ticket</a>
											<a href="#about" class="btn2">A propos de nous</a>
										</div>
									</div>
								</div>
								<div class="col-md-7">
									<div class="img-box">
										<img src="{{ asset('img/ticket_phone3.png') }}" alt="ticket Phone" title="--- TICKETING ---">
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<ol class="carousel-indicators">
					<li data-target="#customCarousel" data-slide-to="0" class="active"></li>
					<li data-target="#customCarousel" data-slide-to="1"></li>
					<li data-target="#customCarousel" data-slide-to="2"></li>
				</ol>
			</div>
		</section>
	</div>

	<section id="about" class="about_section layout_padding long_section">
		<div class="container">
			<div class="row">
				<div class="col-md-6">
					<div class="img-box">
						<img src="{{ asset('img/ticket.png') }}" alt="">
					</div>
				</div>
				<div class="col-md-6">
					<div class="detail-box">
						<div class="heading_container">
							<h2>A propos de nous</h2>
						</div>
						<p>
							Bienvenue sur TICKETING ! Nous sommes là pour simplifier la billetterie. Notre plateforme conviviale permet aux organisateurs d'événements et aux participants de bénéficier d'une expérience transparente en matière de billetterie.
							<span class="hidden-content">Avec une configuration d'événement facile, des paiements sécurisés et des analyses en temps réel, nous faisons de la gestion et de la participation à des événements un jeu d'enfant. Notre équipe d'assistance est là pour vous aider à chaque étape.
							Rejoignez les milliers d'utilisateurs satisfaits qui font confiance à TICKETING pour une billetterie sans souci. Découvrez le confort d'une solution de billetterie fiable et riche en fonctionnalités.
							Merci d'avoir choisi TICKETING. Créons ensemble des événements inoubliables !</span>
						</p>
						<a href="#" id="voir-plus">
							Read More
						</a>
					</div>
				</div>
			</div>
		</div>
	</section>

	<section id="blog" class="blog_section layout_padding">
		<div class="container">
			<div class="heading_container">
				<h2>
					Latest Blog
				</h2>
			</div>
			<div class="row">
				<div class="col-md-6 col-lg-4 mx-auto">
					<div class="box">
						<div class="img-box">
							<img src="{{ ('img/agent_ticket.png') }}" alt="">
						</div>
						<div class="detail-box">
							<h5>Gain de temps et d'efficacité</h5>
							<p>les agents peuvent traiter les tickets de manière plus efficace grâce à des fonctionnalités</p>
							<a href="">
								Read More
							</a>
						</div>
					</div>
				</div>
				<div class="col-md-6 col-lg-4 mx-auto">
					<div class="box">
						<div class="img-box">
							<img src="{{ ('img/agent_ticket2.png') }}" alt="">
						</div>
						<div class="detail-box">
							<h5>Suivi transparent</h5>
							<p>Les clients ont accès à des mises à jour en temps réel, des notifications et des historiques de communication</p>
							<a href="">
								Read More
							</a>
						</div>
					</div>
				</div>
				<div class="col-md-6 col-lg-4 mx-auto">
					<div class="box">
						<div class="img-box">
							<img src="{{ ('img/agent_ticket3.png') }}" alt="">
						</div>
						<div class="detail-box">
							<h5>Amélioration de la communication</h5>
							<p>Cette application favorise une communication fluide et efficace, réduisant les malentendus et améliorant la résolution des problèmes.</p>
							<a href="">
								Read More
							</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>

	<section class="info_section long_section">
		<div class="container">
			<div class="contact_nav">
				<div class="info_links col-lg-4">
					<h4>QUICK LINKS</h4>
					<div class="info_links_menu">
						<a class="" href="#home">Home <span class="sr-only">(current)</span></a>
						<a class="" href="#about"> About</a>
						<a class="" href="#blog">Blog</a>
						<a class="" href="{{ path('app_login') }}">Generer un Ticket</a>
					</div>
				</div>
				<div class="info_form">
					<div class="social_box">
						<a href="https://www.facebook.com">
							<i class="fa fa-facebook" aria-hidden="true"></i>
						</a>
						<a href="https://www.twitter.com">
							<i class="fa fa-twitter" aria-hidden="true"></i>
						</a>
						<a href="https://www.linkedin.com">
							<i class="fa fa-linkedin" aria-hidden="true"></i>
						</a>
						<a href="https://www.instagram.com">
							<i class="fa fa-instagram" aria-hidden="true"></i>
						</a>
					</div>
				</div>
			</div>
		</div>
	</section>

	<footer class="footer_section">
		<div class="container">
			<p> &copy; <span id="displayYear"></span> All Rights Reserved By <a href="{{ path('app_landing') }}">TICKETING</a> Distribution <a href="{{ path('app_landing') }}">HOLY</a> </p>
		</div>
	</footer>
</div>

{% block javascripts %}
	<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
	<script src="{{ asset('js/bootstrap.js') }}"></script>
	<script src="{{ asset('js/custom.js') }}"></script>
	<script>
		$(document).ready(function() {
			$('#voir-plus').click(function(e) {
				e.preventDefault();
				setTimeout(() => {
					$('.hidden-content').slideDown();
					$(this).hide();
				}, 3000);
			});
		});


	</script>
{% endblock %}
{% endblock body %}